<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="me.retrodaredevil">
    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="filePermissions">rw-rw-r--</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <MarkerFilter marker="NO_CONSOLE" onMatch="DENY" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" >
            <AppenderRef ref="Console" level="DEBUG"/>
        </Root>
        <Logger name="com.slack.api" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--https://docs.discord4j.com/logging/#available-loggers-->
        <Logger name="discord4j.gateway" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="reactor.netty" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
